<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap = "vendor/autoload.php"
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false">
    <testsuites>
        <testsuite name="Unit tests">
            <directory>./src/Pcmt/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./src/Pcmt/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>