CREATE DATABASE IF NOT EXISTS akeneo_pim;
CREATE DATABASE IF NOT EXISTS akeneo_pim_behat;
GRANT ALL PRIVILEGES ON akeneo_pim.* TO 'akeneo_pim'@'%';
GRANT ALL PRIVILEGES ON akeneo_pim_behat.* TO 'akeneo_pim'@'%' identified by 'akeneo_pim';
CREATE USER 'akeneo_ro'@'%' IDENTIFIED BY 'password';
GRANT SELECT ON akeneo_pim.* TO 'akeneo_ro'@'%';
