<% _.each(members, function (member) { %>

    <% if(member.indexOf("separator") === -1) { %>

        <!-- attribute select -->
            <div class="AknFieldContainer">

                    <select
                            id="pcmt_enrich_form_<%- member %>" class="select2 member-attribute"
                            name="<%- member %>" data-placeholder="<%- labels.defaultChooseAttribute %>"
                            <% if (multiple) { %>multiple<% } %>\
                            <% if (readOnly) { %>readonly disabled<% } %>
                    >
                <% let attributeValue = null; if(typeof model.concatenated === 'object' && model.concatenated[member] !== null) { attributeValue = model.concatenated[member]; } %>
                <option value=""<% if (!value) { %> selected<% } %>></option>
                        <% if (Object.keys(choices).length > 0 && Object.values(choices)[0] instanceof Object) { %>
                        <% _.each(choices, function (optGroupOptions, optGroupLabel) { %>

                        <optgroup label="<%- optGroupLabel %>">
                            <% _.each(optGroupOptions, function (choiceLabel, choiceValue) { %>
                            <!-- compare each choiceValue with attributeValue and if they match, mark as selected -->
                                <option value="<%- choiceLabel %>" <% if (!multiple && choiceLabel === value) { %> selected<% } %>
                                <%- choiceLabel %>
                                </option>
                            <% }); %>
                        </optgroup>

                        <% }); %>
                        <% } else { %>
                        <% _.each(choices, function (choiceLabel, choiceValue) { %>

                        <option value="<%- choiceLabel %>"
                        <% if ((!multiple && choiceValue === value) || (multiple && _.contains(value, choiceValue))) { %> selected<% } %>
                        >
                        <%- choiceLabel %>

                        </option>

                    <% }); %>
                    <% } %>

                    </select>

            </div>
    <% } else {  %>

                <!-- separator input -->
            <div class="AknFieldContainer">
                <div class="AknFieldContainer-inputContainer field-input">
                    <input
                      id="<%- member %>"
                      name="<%- member %>"
                      class="AknTextField separator-field"
                      type="text"
                      placeholder="<%- labels.defaultChooseSeparator %>"
                      <% let separatorValue = ""; if(typeof model.concatenated === 'object' && model.concatenated[member] !== null) { separatorValue = model.concatenated[member]; } %>
                      value="<%- separatorValue %>"  <%- isReadOnly ? 'readonly disabled' : '' %>
                    />
                </div>
            </div>
    <% } %>

<% }) %>