######################################################################
# Copyright (c) 2020, VillageReach
# Licensed under the Non-Profit Open Software License version 3.0.
# SPDX-License-Identifier: NPOSL-3.0
######################################################################
parameters:
    pim_datagrid.event_listener.add_username_to_grid_listener.class: PcmtRulesBundle\Listener\AddUsernameToGridListener

services:
    pcmt.service.rule_attribute_provider:
        class: PcmtRulesBundle\Service\RuleAttributeProvider
        arguments:
            - '@pim_catalog.repository.attribute'

    pcmt.service.rule_product_processor:
        class: PcmtRulesBundle\Service\RuleProcessor
        arguments:
            - '@pim_enrich.query.product_and_product_model_query_builder_from_size_factory'
            - '@pcmt.service.rule_attribute_provider'
            - '@pim_catalog.saver.product'
            - '@pim_catalog.saver.product_model'
            - '@pim_catalog.builder.product'
            - '@pcmt.service.rule_processor_copier'

    pcmt.service.rule_processor_copier:
        class: PcmtRulesBundle\Service\RuleProcessorCopier
        arguments:
            - '@pim_catalog.updater.property_copier'
            - '@pim_catalog.repository.channel'
            - '@pim_catalog.repository.locale'
            - '@pim_enrich.filter.product_attribute_filter'
            - '@pim_enrich.filter.product_model_attribute_filter'
            - '@pim_internal_api_serializer'
            - '@event_dispatcher'

    pcmt_rules.datagrid.provider.job:
        class: PcmtRulesBundle\Provider\PcmtJobDatagridProvider
        arguments:
            - '@akeneo_batch.job.job_registry'

    pcmt_rules.service.select_options_remover:
        class: PcmtRulesBundle\Service\SelectOptionsRemover
        arguments:
            - '@pim_catalog.remover.attribute_option'

    pcmt_rules.service.select_options_creator:
        class: PcmtRulesBundle\Service\SelectOptionsCreator
        arguments:
            - '@pim_enrich.query.product_and_product_model_query_builder_from_size_factory'
            - '@pim_catalog.repository.locale'
            - '@pim_catalog.factory.attribute_option'
            - '@pim_catalog.saver.attribute_option'

    pcmt_rules.factory.job_notification:
        class: '%pim_import_export.factory.job_notification.class%'
        arguments:
            - [ 'rules' ]
            - '%pim_notification.entity.notification.class%'
        tags:
            - { name: pim_notification.factory.notification }

    pcmt_rules.service.pull_image_service:
        class: PcmtRulesBundle\Service\PullImageService
        arguments:
            - '%tmp_storage_dir%'
            - '@akeneo_file_storage.file_storage.file.file_storer'
            - '@pcmt_rules.service.image_verification_service'

    pcmt_rules.service.update_image_service.product:
        class: PcmtRulesBundle\Service\UpdateImageService
        arguments:
            - '@pim_catalog.updater.product'
            - '@pim_catalog.saver.product'
            - '@pim_catalog.validator.product'

    pcmt_rules.service.update_image_service.product_model:
        class: PcmtRulesBundle\Service\UpdateImageService
        arguments:
            - '@pim_catalog.updater.product_model'
            - '@pim_catalog.saver.product_model'
            - '@pim_catalog.validator.product_model'
            -
    pcmt_rules.service.attributes_level_validator:
        class: PcmtRulesBundle\Service\AttributesLevelValidator

    pcmt_rules.service.image_verification_service:
        class: PcmtRulesBundle\Service\ImageVerificationService

    pcmt_rules.service.copy_products_rule.copy_products_rule_processor:
        class: PcmtRulesBundle\Service\CopyProductsRule\CopyProductsRuleProcessor
        arguments:
            - '@pcmt_rules.service.copy_products_rule.copy_product_to_product_model'

    pcmt_rules.service.copy_products_rule.copy_product_to_product_model:
        class: PcmtRulesBundle\Service\CopyProductsRule\CopyProductToProductModel
        arguments:
            - '@pcmt.service.rule_attribute_provider'
            - '@pim_catalog.saver.product'
            - '@pim_catalog.saver.product_model'
            - '@pim_catalog.builder.product'
            - '@pcmt.service.rule_processor_copier'
            - '@pcmt_rules.service.copy_products_rule.sub_entity_finder'

    pcmt_rules.service.copy_products_rule.sub_entity_finder:
        class: PcmtRulesBundle\Service\CopyProductsRule\SubEntityFinder

    pcmt.constraints.attribute_exists_in_both_families_constraint_validator:
        class: PcmtRulesBundle\Validators\AttributeExistsInBothFamiliesConstraintValidator
        arguments:
            - '@pcmt.service.rule_attribute_provider'
            - '@pim_catalog.repository.family'
            - '@pim_catalog.repository.attribute'
        tags:
            - { name: validator.constraint_validator, alias: pcmt_attribute_exists_in_both_families_constraint_validator }

    pcmt.constraints.different_family_constraint_validator:
        class: PcmtRulesBundle\Validators\DifferentFamilyConstraintValidator
        arguments:
            - '@pim_catalog.repository.family'
        tags:
            - { name: validator.constraint_validator, alias: pcmt_attribute_different_family_constraint_validator }

    pcmt.constraints.correct_attribute_mapping_constraint_validator:
        class: PcmtRulesBundle\Validators\CorrectAttributeMappingConstraintValidator
        arguments:
            - '@pim_catalog.repository.family'
        tags:
            - { name: validator.constraint_validator, alias: pcmt_correct_attribute_mapping_constraint_validator }

    pcmt.constraints.family_has_variants_constraint_validator:
        class: PcmtRulesBundle\Validators\FamilyHasVariantsConstraintValidator
        arguments:
            - '@pim_catalog.repository.family'
        tags:
            - { name: validator.constraint_validator, alias: pcmt_family_has_variants_constraint_validator }

    pcmt.constraints.family_has_no_variants_constraint_validator:
        class: PcmtRulesBundle\Validators\FamilyHasNoVariantsConstraintValidator
        arguments:
            - '@pim_catalog.repository.family'
        tags:
            - { name: validator.constraint_validator, alias: pcmt_family_has_no_variants_constraint_validator }

    pcmt.rules.service.copier.select_to_text:
        class: PcmtRulesBundle\Service\DifferentTypesAttributeCopier
        parent: pim_catalog.updater.copier.abstract
        arguments:
            - '@pim_standard_format_serializer'
            - [ 'pim_catalog_simpleselect' ]
            - [ 'pim_catalog_text' ]
        tags:
            - { name: 'pim_catalog.updater.copier' }

    pcmt.rules.service.copier.text_to_select:
        class: PcmtRulesBundle\Service\DifferentTypesAttributeCopier
        parent: pim_catalog.updater.copier.abstract
        arguments:
            - '@pim_standard_format_serializer'
            - [ 'pim_catalog_text' ]
            - [ 'pim_catalog_simpleselect' ]
        tags:
            - { name: 'pim_catalog.updater.copier' }

