<% if (!_.isEmpty(data)) { %>

    <thead>
    <tr>
        <th class="AknGrid-headerCell">
            <%- __('pcmt_product.widget.drafts_overview.product') %>
        </th>
        <th class="AknGrid-headerCell">
            <%- __('pcmt_product.widget.drafts_overview.date') %>
        </th>
        <th class="AknGrid-headerCell">
            <%- __('pcmt_product.widget.drafts_overview.author') %>
        </th>
        <th class="AknGrid-headerCell">
            <%- __('pcmt_product.widget.drafts_overview.action') %>
        </th>
    </tr>
    </thead>

    <tbody>
        <% _.each(data, function (draft) { %>
            <tr class="AknGrid-bodyRow">
                <td class="AknGrid-bodyCell"><%- draft.label %></td>
                <td class="AknGrid-bodyCell"><%- draft.createdAt %></td>
                <td class="AknGrid-bodyCell"><%- draft.author %></td>
                <td class="AknGrid-bodyCell">
                    <span class="AknButton AknButton--small AknButton review-draft"
                          data-id="<%-draft.id%>"
                    >Review
                    </span>
                </td>
            </tr>
        <% }); %>
    </tbody>
<% } else if (options.contentLoaded) {%>
    <tr>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--full">
            <div class="AknMessageBox AknMessageBox--centered">
                <%- __('pcmt_product.widget.drafts_overview.empty') %>
            </div>
        </td>
    </tr>
<% } %>