<% if(!_.isEmpty(data)) { %>
<thead>
<tr>
    <th class="AknGrid-headerCell">
        <%- __('pim_import_export.widget.draft_overview.product') %>
    </th>
    <th class="AknGrid-headerCell">
        <%- __('pim_common.type') %>
    </th>
    <th class="AknGrid-headerCell">
        <%- __('pim_import_export.widget.last_operations.date') %>
    </th>
    <th class="AknGrid-headerCell">
        <%- __('pim_common.status') %>
    </th>
    <th class="AknGrid-headerCell">
        <%- __('pim_import_export.widget.last_operations.author') %>
    </th>
    <th class="AknGrid-headerCell">
        <!-- below are the action inputs -->
    </th>
    <th class="AknGrid-headerCell"></th>
</tr>
</thead>

<tbody>
<!-- draft serialized data -->
<tr class="AknGrid-bodyRow">
    <td class="AknGrid-bodyCell">TEST!!!!</td>
</tr>
</tbody>
<% } %>